*{
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Assistant', sans-serif;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Edu SA Beginner', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Poltawski Nowy', serif;
font-family: 'Poppins', sans-serif;
font-family: 'REM', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Signika Negative', sans-serif;
box-sizing: border-box;
}

body{
    background-color: #222;
}
.card{
    width: 90%;
    max-width: 470px;
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px ;
    padding: 40px 35px;
    text-align: center;
    
    background: linear-gradient(135deg ,#95a6daa8 ,#78b6e98e,#d6b46a96)
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.search input{
    border: 0;
    outline: 0;
    background-color: #ffffffb7;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius:30px ;
    flex: 1;
    width: 20px;
    margin-right: 16px;
    font-size: 18px;
    box-shadow: 0 2px 6px #04093196;
    cursor: pointer;
}
.search button{
    border: 0;
    outline: 0;
    background: #ffffffb6;
    border-radius: 50%;
    width:60px;
    height: 60px;
    box-shadow: 0 2px 6px #04093196;
    cursor: pointer;
    
}
.search button img{
    width: 16px;
}
.weather-icon{
    width:140px;
    margin-top: 30px;
}
.weather h2{
    font-size: 45px;
    font-weight: 500;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;

}
.col{
    display: flex;
    align-items: center;
    text-align: left;

}
.col img{
    width: 40px ;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}